*{
    box-sizing: border-box;
}
    body {
     font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }
      img{
            border-radius: 80%;
      }
      .pageHeading {
        display: block;
        background: #30d1a9;
        height: 200px;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
     
    }
    .pageHeading> div{
        font-family: 'Abril Fatface', cursive;
        display: inline-block;
        margin-top: 20px;
        border: 2px solid white;
        text-align: center;
        background: #30d1a9;
        color: white;
        width: 750px;
        height: 155px;
      }
    .pageHeading> div> p{
        font-size:14px;
    }
      h1 {
        font-size: 40px;
      }

      /* Column container */
.flexgrid{
    float: left;
    padding: 10px;
  }
  
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .sidebar {
    width: 25%;
}
  
  /* Main column */
  .content {
    width: 75%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  